@import url("https://fonts.googleapis.com/css?family=Monoton|Stalemate|Lora&display=swap");

#hero-name {
  font-family: "Stalemate", cursive;
  font-size: 10.5rem;
}

.social-icons {
    display: inline-block;
    margin-right: 20px;
}

.social-icons a {
    color: #f50057;
    font-size: 2rem;
}